= form_for @baby.cares.new, url:  baby_cares_path(@baby), method: :post , authenticity_token: true, remote: true, id: "care_form" do |f|
  %table.table.table-bordered
    %thead
      %tr
        %th Is the mother on ART
        %th
          YES
          = f.radio_button :mother_art, true, {class: "breast_milk",checked: @baby.cares.map(&:mother_art).include?(true), disabled: @baby.cares.map(&:mother_art).include?(true) || @baby.cares.map(&:mother_art).include?(false)}
          NO
          = f.radio_button :mother_art, false, {class: "breast_milk", checked: @baby.cares.map(&:mother_art).include?(false), disabled: @baby.cares.map(&:mother_art).include?(false) || @baby.cares.map(&:mother_art).include?(true)}
      %tr
        %th ARV pro phyla’s given at birth
        %th
          YES
          = f.radio_button :arv_prophylaxis_given_at_birth, true, {class: "breast_milk",checked: @baby.cares.map(&:arv_prophylaxis_given_at_birth).include?(true), disabled: @baby.cares.map(&:arv_prophylaxis_given_at_birth).include?(true) || @baby.cares.map(&:arv_prophylaxis_given_at_birth).include?(false)}
          NO
          = f.radio_button :arv_prophylaxis_given_at_birth, false, {class: "breast_milk",checked: @baby.cares.map(&:arv_prophylaxis_given_at_birth).include?(false), disabled: @baby.cares.map(&:arv_prophylaxis_given_at_birth).include?(false) || @baby.cares.map(&:arv_prophylaxis_given_at_birth).include?(true)}
      %tr
        %th If yes, specify the ARV prophylaxis:…………
        %th
          = f.text_field :arv_prophylaxis_name
  .col-md-12
    %h3 Enter initials of the ARV prophylaxis supplied e.g. NVP
  %table.table.table-bordered
    %thead
      %tr
        %th HIV test
        %th Type of test used
        %th Date test done
        %th Test number
        %th Test Result(Code 0/1)
        %th Date Referred for ART
        %th Date initiated on ART
    %tbody 
      %tr
        %td Initial test 
        %td
          = f.text_field :initial_used
        %td
          = f.text_field :initial_done, class: "datetimepicker"
        %td
          = f.text_field :initial_number
        %td
          = f.text_field :initial_result
        %td
          = f.text_field :initial_referred_art, class: "datetimepicker"
        %td
          = f.text_field :initial_initiated_art, class: "datetimepicker"
      %tr
        %td Repeat at 6
        %td
          = f.text_field :repeat_used
        %td  
          = f.text_field :repeat_done, class: "datetimepicker"
        %td
          = f.text_field :repeat_number
        %td
          = f.text_field :repeat_result
        %td
          = f.text_field :repeat_referred_art,class: "datetimepicker"
        %td
          = f.text_field :repeat_initiated_art,class: "datetimepicker"
      %tr
        %td weeks or more after stopping breastfeeding
        %td
          = f.text_field :breastfeeding_used
        %td  
          = f.text_field :breastfeeding_done, class: "datetimepicker"
        %td
          = f.text_field :breastfeeding_number
        %td
          = f.text_field :breastfeeding_result
        %td
          = f.text_field :breastfeeding_referred_art , class: "datetimepicker"
        %td
          = f.text_field :breastfeeding_initiated_art , class: "datetimepicker"   
       
      %tr 


  %table.table.table-bordered
    %thead
      %tr
        %th Follow up time
        - (6..24).each do |i|
          %th= "#{i}M"      
    %tbody
      %tr
        %td ARV supplied 
        - (6..24).each do |i|
          %td
            = f.check_box :arv_supplied, {class: "breast_milk", checked: @baby.cares.map(&:arv_supplied).include?("#{i}M"), disabled: @baby.cares.map(&:arv_supplied).include?("#{i}M") || @baby.unpermit_age("#{i}")}, "#{i}M"

      %tr
        %td CTX supplied
        - (6..24).each do |i| 
          %td
            = f.check_box :ctx_supplied, {class: "breast_milk", checked: @baby.cares.map(&:ctx_supplied).include?("#{i}M"), disabled: @baby.cares.map(&:ctx_supplied).include?("#{i}M")|| @baby.unpermit_age("#{i}")}, "#{i}M"
  .row
    .col-md-2
      = f.text_area :comments, placeholder: "Care Comments:"
    .col-md-2
      = f.submit :Save
:javascript
  submitCareForm();           
              
          
        