.pull-right
  - if current_user.admin?
    = link_to "Add vaccination", new_vaccination_path, class: "btn btn-success"    
.container
  .container.index-container
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h2 Vaccinations List
        .ibox-content
          %table.table.table-bordered
            %thead
              %tr
                %th Age(month)
                %th Title
                %th Course Description
                %th Action
            %tbody
              - @vaccinations.each do |vaccination|
                %tr
                  %td= vaccination.age
                  %td= vaccination.title
                  %td= vaccination.description
                  %td
                    = link_to "",  edit_vaccination_path(vaccination), class: "btn btn-default glyphicon glyphicon-edit"
                    = link_to "", vaccination_path(vaccination), method: :delete,data: { confirm: 'Are you sure?' }, class: "btn btn-default glyphicon glyphicon-trash"
  
  %h3 Vaccinations graph
  %br
  %table{style: "width:100%;"}  
    %tbody    
      %tr
        %td{style: "width:50%;"}
          %h4 Children Age 0-23 months
          %br
            %div{style: "width: 70%;"}
              = chartjs_bar_chart(@vaccination_data,{scales: {xAxes: [{gridLines: {display:true}}], yAxes: [{scaleLabel: {display: true,labelString: 'Vaccination Count'},gridLines: {display:true}, ticks: {beginAtZero:true}}]}, legend: {display: false}, maintainAspectRatio: false})
        %td{style: "width:50%;"}
          %h4 Children Age 24-60 months
          %br
            %div{style: "width: 80%;"}
              = chartjs_bar_chart(@vaccination,{scales: {xAxes: [{gridLines: {display:true}}], yAxes: [{scaleLabel: {display: true,labelString: 'Vaccination Count'},gridLines: {display:true}, ticks: {beginAtZero:true}}]}, legend: {display: false}, maintainAspectRatio: false})       

          
                 
 