<div class="container">
  <div class="signup-container">
    <div class="col-md-12">
      <h1>SignUp For New Account</h1>
      <br> 
    </div>          
    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
    <div class="row">  
      <div class="col-md-6">
        <%= f.text_field :first_name, icon: "user", placeholder: "User first name" %>
      </div>
      <div class="col-md-6"> 
        <%= f.text_field :last_name, icon: "user", placeholder: "User last name" %>
      </div>
    </div>
    <div class="row">  
      <div class="col-md-12">  
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address" %>
      </div>
    </div>    
    <div class="row">  
      <div class="col-md-6">
        <%= f.password_field :password, autocomplete: "off", placeholder: "password" %>
      </div> 
      <div class="col-md-6">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm password" %>
      </div> 
    </div>   
    <div class="row">
      <div class="col-lg-12 ">
        <%= f.submit "REGISTER", class: " btn btn-primary btn-lg btn-block" %>
        <% end %> 
      </div>    
    </div>    
  </div>    
</div>


     
