<div class="row">
   <div class="col-md-6 col-md-offset-3">
    <%= bootstrap_form_for [@hospital, @user], local: true do |form| %>
      <%= form.text_field :first_name %>
      <%= form.text_field :last_name %>
      <%= form.email_field :email %>
      <%= form.password_field :password %>
      <%= form.submit %>
    <% end  %>          
  </div>    
</div>