<div class="pull-right">
  <%= link_to "New Nurse Account", new_hospital_user_path, class: "btn btn-success" %>
</div>
<div class="container">
  <div class="container index-container">
    <div class="col-md-12">
      <h1> Nurses List</h1>
    </div>  
    <br>
    <div class="col-md-12">
      <table class="table table-stripped">
        <thead>  
          <tr>
            <th>Id</th>
            <th>Hospital Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Action</th>
            
          </tr>
        </thead> 
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.hospital_id %></td> 
              <td><%= user.first_name %></td> 
              <td><%= user.last_name %></td>
              <td><%= user.email %></td>      
              <td ><%= link_to '',  edit_hospital_user_path(user.hospital ,user), class: "btn btn-default glyphicon glyphicon-edit" %>
              <%= link_to '',  hospital_user_path(user.hospital ,user), class: "btn btn-default glyphicon glyphicon-eye-open" %>
              <%= link_to '', hospital_user_path(user.hospital ,user),
              method: :delete,
              data: { confirm: 'Are you sure?' }, class: "btn btn-default glyphicon glyphicon-trash" %></td>
            </tr>
          <% end %>
        </tbody>
      </table> 
    </div>     
  </div>    
</div>
 

