= bootstrap_form_for [@mother], local: true do |form|
  .row
    .col-sm-6
      = form.text_field :first_name,  placeholder:"enter First Name"
    .col-sm-6
      = form.text_field :last_name, placeholder: "enter last Name"
  .row
    .col-sm-12
      = form.email_field :email, placeholder: " enter email address"
   
  .row
    .col-sm-12
      = form.text_field :physical_address, placeholder: "enter parents Address"
  .row
    .col-sm-12
      = form.text_field :phone_number, placeholder: "enter your contact number"
  .row
    .col-sm-12
      = form.submit "submit", class: "btn btn-lg btn-success"
