.container
  .vaccination-container
    %h1 Form For vaccination
    %br
      = bootstrap_form_for @baby_vaccination , url: baby_vaccinations_path, local: true do |form|
        .row
          .col-md-12
            = form.select :baby_id, @babies.collect{|b| [b.full_name, b.id]}, class: "setBaby"
        %br
        .row  
          .col-md-12
            = form.select :vaccination_id, @vaccinations, :prompt => 'Choose vaccinations id'
        %br 
        .row
          .col-md-8  
            .datetimepicker.input-group
              = form.text_field :date,  placeholder: "enter vaccination date",  class: 'form_datetimepicker'
        %br  
        .row
          .col-md-12
            = form.submit "Save", class: "btn btn-primary"

