.pull-right
  - if current_user.admin?
    = link_to "Add Duration", new_infant_feeding_label_infant_feeding_label_answer_path, class: "btn btn-success"    
.container
  .container.index-container
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h2 Infant Feeding Table
        .ibox-content
          %table.table.table-bordered
            %thead
              %tr
                %th Title
                %th Duration
                %th Action
            %tbody
              - @infant_feeding_label.infant_feeding_label_answers.each do |infant_feeding_label_answer|
                %tr
                  %td= @infant_feeding_label.title
                  %td= infant_feeding_label_answer.description
                  %td
                    = link_to "",edit_infant_feeding_label_infant_feeding_label_answer_path(infant_feeding_label_answer.infant_feeding_label, infant_feeding_label_answer), class: "btn btn-info glyphicon glyphicon-edit"
                    = link_to "", infant_feeding_label_infant_feeding_label_answer_path(infant_feeding_label_answer.infant_feeding_label, infant_feeding_label_answer), method: :delete,data: { confirm: 'Are you sure?' }, class: "btn btn-info glyphicon glyphicon-trash"
                  