.pull-right
  = link_to "Back", hospital_user_babies_path, class: "btn btn-success"
.container
  .container.babysignup-container
    .col-md-12
      %h1 Update Baby Account
      %br/
      = render partial: "form"
.container
  .container.signup-container
    .col-md-12
      %h1 Health Information
      .row
        .pull-right
          = link_to "Add Health info", new_hospital_user_baby_health_path(@hospital, @user, @baby), class: "btn btn-info"
      %br/
      %table.table.table-bordered
        %thead
          %tr
            %th age
            %th Height
            %th weight
        %tbody
          - @baby.healths.each do |info|
            %tr
              %td= info.age
              %td= info.height
              %td= info.weight
