<div class="pull-right">
  <% if current_user.nurse? %>
    <%= link_to "New Baby Account", new_hospital_user_baby_path, class: "btn btn-success" %>
  <% end %>
</div>
<div class="pull-left">
  <% if current_user.nurse? %>
    <%= link_to "New Father Account", new_father_path, class: "btn btn-success" %>
  <% end %>
</div>
<div class="pull-left">
  <% if current_user.nurse? %>
    <%= link_to "New Mother Account", new_mother_path, class: "btn btn-success" %>
  <% end %>
</div>
<div class="container">
  <div class="index-container">
    <div class="col-md-12">
      <h1>Babies List</h1>
    </div>    
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>  
          <tr>
            <th>Name</th>
            <th>Date Of Birth</th>
            <th>Place Of Birth</th>
            <th>Gender</th>
            <th>Father name</th>
            <th>Mother name</th>
            <th>Hospital name</th>
            <th>Action</th>
          </tr>
        </thead> 
        <tbody>
          <% @babies.each do |baby| %>
            <tr>
              <td><%= baby.first_name %></td> 
              <td><%= baby.date_of_birth %></td>
              <td><%= baby.place_of_birth %></td> 
              <td><%= baby.sex %></td>
              <td><%= baby.father.try(:first_name) %></td>
              <td><%= baby.mother.try(:first_name) %></td>
              <td><%= baby.hospital.try(:name) %></td>    
              <td>
                <% if current_user.nurse? %>
                  <%= link_to "", edit_hospital_user_baby_path(@hospital, @user, baby), class: "btn btn-default glyphicon glyphicon-edit" %>
                  <%= link_to "", hospital_user_baby_path(@hospital, @user, baby), class: "btn btn-default glyphicon glyphicon-eye-open" %>
                  <%= link_to "", hospital_user_baby_path(@hospital, @user, baby), method: :delete,data: { confirm: 'Are you sure?' }, class: "btn btn-default glyphicon glyphicon-trash" %>
                <% end %>
                <%= link_to "height chart", height_baby_healths_path(baby), class: "btn btn-default" %>
                <%= link_to "weight chart", weight_baby_healths_path(baby), class: "btn btn-default" %>
              </td>
            </tr>
            <% end %>
          </tbody>
      </table>      
    </div>    
  </div>
</div>
