.pull-right
  = link_to "Back",  hospital_user_babies_path, class: "btn btn-success"
.container
  .container.table-container
    .col-md-12
      %h1 Information of Baby
    .row
      .col-md-12
        %table.table.table-bordered
          %thead
            %tr
              %th #
              %th Full Name
              %th Date Of Birth
              %th Place Of Birth
              %th Gender
          %tbody
            %tr
              %td= @baby.id
              %td= @baby.full_name
              %td= @baby.date_of_birth
              %td= @baby.place_of_birth
              %td= @baby.sex






  