= form_for @baby.infant_feedings.new, url:  baby_infant_feedings_path(@baby), method: :post , authenticity_token: true, remote: true, id: "infant_feeding_form" do |f|
  %table.table.table-bordered
    %thead
      %tr
        %th Follow up time
        %th Birth
        %th 6 Week
        %th 10 Week
        %th 14 Week
        %th 5M  
    %tbody
      %tr
        %td Breast milk only 
        %td
          = f.check_box :breast_milk, {class: "breast_milk", checked: @baby.infant_feedings.map(&:breast_milk).include?('Birth'), disabled: @baby.infant_feedings.map(&:breast_milk).include?('Birth') || @baby.permit_age_in_week("0", "1")}, "Birth"
        %td
          = f.check_box :breast_milk, {class: "breast_milk", checked: @baby.infant_feedings.map(&:breast_milk).include?('6 Week'), disabled: @baby.infant_feedings.map(&:breast_milk).include?('6 Week') || @baby.permit_age_in_week("1", "6")}, "6 Week"
        %td
          = f.check_box :breast_milk, {class: "breast_milk", checked: @baby.infant_feedings.map(&:breast_milk).include?('10 Week'), disabled: @baby.infant_feedings.map(&:breast_milk).include?('10 Week') || @baby.permit_age_in_week("7","10")}, "10 Week"
        %td
          = f.check_box :breast_milk, {class: "breast_milk", checked: @baby.infant_feedings.map(&:breast_milk).include?('14 Week'), disabled: @baby.infant_feedings.map(&:breast_milk).include?('14 Week') || @baby.permit_age_in_week("11","14")}, "14 Week"
        %td
          = f.check_box :breast_milk, {class: "breast_milk", checked: @baby.infant_feedings.map(&:breast_milk).include?('5M'), disabled: @baby.infant_feedings.map(&:breast_milk).include?('5M') || @baby.unpermit_age("5")}, "5M"
      %tr
        %td If not breast mild only indicate what is given
        %td
          = f.text_field :except_breast_milk
          = f.submit :save  
      %tr
      %tr
        %td Breastfeeding initiated within 1 hour of delivery
        %td
          YES
          = f.radio_button :breastfeeding_hour_delivery, true ,{class: "breast_milk", checked: @baby.infant_feedings.map(&:breastfeeding_hour_delivery).include?(true), disabled: @baby.infant_feedings.map(&:breastfeeding_hour_delivery).include?(true) || @baby.infant_feedings.map(&:breastfeeding_hour_delivery).include?(false)}
          NO
          = f.radio_button :breastfeeding_hour_delivery, false ,{class: "breast_milk", checked: @baby.infant_feedings.map(&:breastfeeding_hour_delivery).include?(false), disabled: @baby.infant_feedings.map(&:breastfeeding_hour_delivery).include?(false) || @baby.infant_feedings.map(&:breastfeeding_hour_delivery).include?(true)}
         

  %table.table.table-bordered
    %thead
      %tr
        %th Follow up time
        - (6..24).each do |i|
          %th= "#{i}M"      
    %tbody
      %tr
        %td Complementary foods only 
        - (6..24).each do |i|
          %td
            = f.check_box :complementary_foods, {class: "breast_milk", checked: @baby.infant_feedings.map(&:complementary_foods).include?("#{i}M"), disabled: @baby.infant_feedings.map(&:complementary_foods).include?("#{i}M") || @baby.unpermit_age("#{i}")}, "#{i}M"

      %tr
        %td Breastfeeding continues
        - (6..24).each do |i| 
          %td
            = f.check_box :breastfeeding_continues, {class: "breast_milk", checked: @baby.infant_feedings.map(&:breastfeeding_continues).include?("#{i}M"), disabled: @baby.infant_feedings.map(&:breastfeeding_continues).include?("#{i}M")|| @baby.unpermit_age("#{i}")}, "#{i}M"
      %tr
        %td Food groups given/day
        - (6..24).each do |i|   
          %td
            = f.check_box :food_groups_given_day, {class: "breast_milk", checked: @baby.infant_feedings.map(&:food_groups_given_day).include?("#{i}M"), disabled: @baby.infant_feedings.map(&:food_groups_given_day).include?("#{i}M")|| @baby.unpermit_age("#{i}")}, "#{i}M"
      %tr
        %td No.Of meals/day 
        - (6..24).each do |i|
          %td
            = f.check_box :no_of_meals_day, {class: "breast_milk", checked: @baby.infant_feedings.map(&:no_of_meals_day).include?("#{i}M"), disabled: @baby.infant_feedings.map(&:no_of_meals_day).include?("#{i}M")|| @baby.unpermit_age("#{i}")}, "#{i}M"
:javascript
  submitFeedingForm();
  submitFeedingFormBreastMilk();            
        